@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f6f6;
  font-family: "Poppins", sans-serif;
}

#app {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}

header {
  width: 100%;
  background-color: aqua;
  background: url("");
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 26px;
  align-items: center;
}

header nav ul li:first-child {
  background: url("../img/logo.jpg") no-repeat center center/cover;
  height: 50px;
  width: 50px;
  border-radius: 15px;
}

header nav ul li a {
  color: #979797;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover {
  color: black;
}

header div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

a.btn {
  border: 1px solid #979797;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 10px;
  color: #979797;
  letter-spacing: 2px;
  cursor: pointer;
}

header div a.btn:hover{
    background-color: #f0f010;
    color: #fff;
    border: none;
}

header div span {
  display: flex;
  gap: 10px;
}

header div span img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: rgb(151 151 151) -6px 20px 20px 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

main h1 {
  padding-top: 15px;
  letter-spacing: 2px;
}

main p {
  font-size: 14px;
  width: 350px;
  text-align: center;
  color: #979797;
  padding-bottom: 20px;
}

main .bodyInput {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

main .bodyInput input {
  border: none;
  padding: 20px;
  font-size: 12px;
  width: 400px;
  border-radius: 0 5px 5px 0;
}

main .bodyInput select {
  border: 1px solid #979797;
  border-radius: 5px;
  font-size: 11px;
}

main .bodyInput i.fa-solid {
  position: absolute;
  z-index: 100;
  font-size: 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

main section {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
}

main > section ul {
  display: flex;
  gap: 26px;
  list-style: none;
}

main > section ul li{
    cursor: pointer;
}

main > section p {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 20px;
  color: black;
}

main > section p i{
    cursor: pointer;
}

main div.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

main div.articles .article {
  width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgb(151 151 151) -6px 20px 20px 0px;
}

main div.articles .article div {
  width: 100%;
  background-color: #f5f6f6;
  border-radius: 10px;
  text-align: center;
}

main div.articles .article img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer div.left {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

footer div.left a {
  color: black;
  width: 60%;
  cursor: pointer;
}

footer div.left section {
  display: flex;
  gap: -5px;
}

footer div.left section img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: -20px;
}

footer a.aFooter{
    background-color: #fff;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}

